<h4>Edit Hero</h4>

<label>Codename:</label>
<input [(ngModel)]="selectedHero.alias">
<br>

<label>Real Name:</label>
<input [(ngModel)]="selectedHero.name">
<br>

<label>Superpower(s):</label>
<input [(ngModel)]="selectedHero.superpower">
<br>

<label>Power level:</label>
<input [(ngModel)]="selectedHero.powerlevel">
<br>

<label>Bio or background details:</label>
<input [(ngModel)]="selectedHero.bio">
<br>

<label>Team affiliation:</label>
<input [(ngModel)]="selectedHero.team">
<br>

<label>Alignment good/evil/neutral:</label>
<input [(ngModel)]="selectedHero.affiliation">
<br>

<label>New profile picture link:</label>
<input [(ngModel)]="selectedHero.photosmall">
<br>

<label>New fullsize photo:</label>
<input [(ngModel)]="selectedHero.photolarge">
<br>

<button (click)="beginUpdatingHero(selectedHero)">Update</button>
<button (click)="beginDeletingHero(selectedHero)">Delete</button>
