<p>
  welcome works!
</p>

<h2>Heroes Roster</h2>

<select (change)="onChangeTeam($event.target.value)">
  <option value="allTeams" selected="selected">All Teams</option>
  <option value="X-Men Gold Team">X-Men Gold Team</option>
  <option value="X-Men Blue Team">X-Men Blue Team</option>
</select>

<select (change)="onChangeAffiliation($event.target.value)">
  <option value="all" selected="selected">All Affiliations</option>
  <option value="Heroes">Heroes</option>
  <option value="Villians">Villians</option>
</select>

<div *ngFor="let hero of heroes | async | teamPipe:teamFilter | affiliationPipe:affiliationFilter">
  <div class="panel-body" (click)="goToDetailPage(hero)">
    <hr>
    <img src={{hero.photosmall}}/><h3><em>{{hero.alias}}</em> aka: {{hero.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">

      <app-edit-hero [selectedHero]="hero"></app-edit-hero>


    </div>
  </div>
</div>
